<?xml version="1.0"?>
<launch>

  <node pkg="topic_tools" type="throttle" name="multisense_left_rect_color_throttle" args="messages /multisense_sl/left/image_rect_color 1 /multisense_sl/left/image_rect_color_throttled" />
  <node pkg="topic_tools" type="throttle" name="multisense_pc_throttle" args="messages /multisense_sl/points2 1 /multisense_sl/points2_throttled" />
  
  <node pkg="rosbag" type="record" name="calibration_verification_rosbag_recorder" args="-o $(find vigir_bag_config)/bags/calibration_verification /multisense_sl/points2_throttled /multisense_sl/left/image_rect_color_throttled /atlas/joint_states /joint_states" />
   
  <!--
  rosbag record /multisense_sl/points2_throttled /multisense_sl/left/image_rect_color_throttled /atlas/joint_states /joint_states
  -->
 
</launch>
