<?xml version="1.0"?>
<launch>
  
  <param name="/use_sim_time" value="true" />
  
  <include file="$(find vigir_bag_config)/launch/multisense_camera_all_throttled_play.launch">
  
  <node pkg="topic_tools" type="relay" name="multisense_camera_info_relay" args=" /multisense_sl/camera_info /multisense_sl/left/camera_info" />
  <node pkg="topic_tools" type="relay" name="laser_scan_relay" args=" /laser/scan /multisense_sl/laser/scan" />
  
  <!--
  rosbag record /multisense_sl/points2_throttled /multisense_sl/left/image_mono_throttled /multisense_sl/left/image_rect_throttled /multisense_sl/left/image_rect_color_throttled /multisense_sl/depth_throttled /tf /laser/scan /multisense_sl/camera_info
  -->
</launch>
