<?xml version="1.0"?>
<launch>

  <param name="/use_sim_time" value="true" />

  <include file="$(find flor_atlas_bringup)/launch/robot_description.launch" />

  <node pkg="topic_tools" type="relay" name="sa_left_fisheye_relay" args="messages /sa/left/fisheye_throttled /sa/left/fisheye" />
  <node pkg="topic_tools" type="relay" name="sa_right_fisheye_relay" args="messages /sa/right/fisheye_throttled /sa/right/fisheye" />
  <node pkg="topic_tools" type="relay" name="sa_left_rect_relay" args="messages /sa/left/equirectangular_throttled /sa/left/equirectangular" />
  <node pkg="topic_tools" type="relay" name="sa_right_rect_relay" args="messages/sa/right/equirecangular_throttled /sa/right/equirectangular" />

  <node pkg="topic_tools" type="relay" name="multisense_left_rect_relay" args="messages /multisense_sl/left/image_rect_throttled /multisense_sl/left/image_rect" />
  <node pkg="topic_tools" type="relay" name="multisense_right_rect_relay" args="messages /multisense_sl/right/image_rect_throttled /multisense_sl/right/image_rect" />

</launch>
